{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">
        <table class="table-striped">
            <thead>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            </thead>
            <tbody>
            {% for data in datas %}
                <tr>
                    <th scope="row">{{ data.id }}</th>
                    <td>{{ data.title }}</td>
                    <td><button onclick="getDataAsync('/api/getAlbumsPhotos/{{ data.id }}')">Get Photos</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        function getDataAsync(url) {
            let httpRequest = new XMLHttpRequest();

            if (!httpRequest) {
                alert('Abandon :( Error with XMLHTTP instance');
                return false;
            }
            httpRequest.onreadystatechange = alertContents;
            httpRequest.open('GET', url);
            httpRequest.send();
            function alertContents() {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    let modal = document.querySelector('.modal')
                    let modalContent = document.querySelector('.modal-content')

                    if (httpRequest.status === 200) {
                        modal.style.background = "#34eb9e";
                    } else {
                        modal.style.background = "#eb344c";
                    }
                    modal.style.display = "block";
                    modalContent.textContent = httpRequest.responseText
                }
            }
        }
        window.onclick = function(event) {
            let modal = document.querySelector('.modal')

            if (event.target !== modal) {
                modal.style.display = "none";
            }
        }    </script>
{% endblock %}