<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="modal">
        <div class="modal-content">
        </div>
    </div>
    <div class="wrapper">
        <div class="sidebar">
            <div class="title">Devoir Crm</div>
            <ul class="nav">
                <li>
                    <a href="/home">Users</a>
                </li>
                <li>
                    <a href="/album">Albums</a>
                </li>
                <li>
                    <a href="/todos">Todos</a>
                </li>
                <li>
                    <a href="/posts">Posts</a>
                </li>
                <li>
                    <a href="/comments">Comments</a>
                </li>
            </ul>
        </div>
        <div class="content content-is-open">
            <div class="well well-sm">
                {% block body %}{% endblock %}
            </div>

        </div>
    </div>

    </body>
</html>
