{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">
        <table class="table-striped">
            <thead>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">body</th>
            </thead>
            <tbody>
            {% for data in datas %}
                <tr>
                    <th scope="row">{{ data.name }}</th>
                    <td>{{ data.email }}</td>
                    <td>{{ data.body }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
